/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #efebd8;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    /* padding: 60px 20px; */
    height: 100%;
    margin-top: 70px;
  }

  .citationcontent {
    display: none;
  }


/* Style the main heading */
h1 {
    text-align: left;
    color: #333;
}

h2 {
    text-align: left;
}

/* Style the input labels */
label {
    display: block;
    /* margin: 10px 0; */
    color: #555;
    text-align: left;
}

/* Style the input fields */
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
}

/* Style the button */
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Change button color on hover */
button:hover {
    background-color: #45a049;
}

/* Style the result area */
#citationResult {   
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

/* Style the paragraph within the result area */
/* #citationResult p {
    text-align: left;
    margin: 0;
    color: #333;
} */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

.inputbox{
    margin:0;
    padding:0;
}

.resultsgrid {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-gap: 5px;
    /* padding: 8px; */
}

.citationClass {
    margin: 0;
    text-align: left;
    color: #333;
}

.copybutton {
    margin-top: 20px;
}

